*.targets
*.props
*.txt
*.CopyComplete
*.ide-wal
*.ide-shm
*.ide
*.lock
*.dll
*.pdb
*.target
*.targets
*.cache
*.props
*/bin/*
*/obj/*
*/out/*
output
*.userprefs
*.csproj.user
*.log
TestApi/Properties/PublishProfiles/*

.DS_Store
.vs/
.vscode/
.idea/
riderModule.iml
Goodboy.Practices.sln.DotSettings.user
